@font-face {
    font-family: k;
    src: url(ka1.ttf);

}

@font-face {
    font-family: p;
    src: url(PixeloidSans-Bold.ttf);
}
body{
    overflow-y: visible;
}
 
p{

    font-family: p; 
    align-items: center;
    padding-left: 260px; 
}
.bg{

    background-image: url('../assets/vector.png');
    background-size: cover;
     padding: 0;
     background-position-x: center;

}
.title{
    background-image: url('../assets/board.png');
    background-size: contain; 
    height: 60px;
    width: 300px;

}
