@font-face {
    font-family: pixeloidsans;
    src: url("../fonts/PixeloidSans.ttf");
  }
  @font-face {
    font-family: karmatic ;
    src: url("../fonts/ka1.ttf");
  }
  @font-face {
    font-family: pixeloidsans-bold;
    src: url("../fonts/PixeloidSans.ttf");
  }

.about-con{
    font-family: pixeloidsans;
    overflow-x: hidden;
    }
    .heading {
      font-family: karmatic;
      /* -webkit-text-stroke: 1px rgb(222, 188, 106);  */
       color:rgb(222, 188, 126);
    }
    @media (max-width:767px){
      .heading {
        color: rgb(215, 188, 126);
      }
    }
    
    .dates {
      color: white; 
      font-weight:bolder;
    }
    .content-box {
      background-color: rgba(217, 217, 217, 0.8);
      border: 4px solid black;

      width:85%;
      height:60%;
      
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 768px) {
      .content-box {
        width: 50%;
      }
      
    }
    
    .small-text {
      font-size: 1.1em; 
    }
    @media (max-width: 767px) {
      .small-text {
        font-size: 0.7em;
      }
    }
