@font-face {
  font-family: pixeloidsansbold;
  src: url("../fonts/ka1.ttf");
}

body {
  font-family: pixeloidsansbold, sans-serif;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  
}

.background-scroll {
  background-image: url('../assets/newbg3.png');
  background-size: contain;
  background-position: top left;
  position: fixed;
  top: 0;
  left: 0;
  width: 10000%;
  height: 100%;
  z-index: -1;
  animation: scrollBackground 800s linear infinite;
}

.content {
  position: relative;
  z-index: 10;
}

@keyframes scrollBackground {
  from {
    background-position: left top;
  }
  to {
    background-position: right top;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.alert {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.btn:active {
  background-color: #3e8e41;
}
