@font-face {
  font-family: pixeloidsans;
  src: url("../fonts/PixeloidSans.ttf");
}
@font-face {
  font-family: karmatic;
  src: url("../fonts/ka1.ttf");
}
@font-face {
  font-family: pixeloidsans-bold;
  src: url("../fonts/PixeloidSans.ttf");
}

.custom-height {
  height: 120vh;
}
@media (max-width: 767px) {
  .custom-height {
    height: 110vh;
  }
}

#profile {
  height: 160vh;
  width: 100vw;
  font-family: karmatic;
  
}

.profile-heading {
  /* font-size: 3em; */
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .profile-heading {
    padding-top: 30%;
  }
}

.profilee {
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}
.profilee:hover {
  transform: scale(1.1);
}
.contain {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.details {
  font-family: pixeloidsans;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1%; */
  
  flex-direction: column;
  background-color: rgba(235, 232, 232, 0.846);
  width: 80%;
  border: 2px solid black;
  /* border-radius: 1rem; */
}

.team-detail {
  font-size: 1.2em;
  font-weight: bolder;
  
}

.table-container {
  display: grid;
  
  place-items: center;
  /* padding-top: 2%; */
  /* padding-bottom: 5%; */
  width: 80%;
}

@media (max-width: 768px) {
  .right-p {
    font-size: smaller;
  }
  .left-p {
    font-size: smaller;
  }
  .custom-table {
    font-size: x-small;
  }
  .details {
    scale: 0.61;
    /* width: fit-content; */
    width: auto;
    padding: 5%;
    margin-top: -25%;

  }
  .form-container {
    margin: 0 auto;
    /* padding: 20px; */
   
  }
  .form-group{
    padding: 10px 10px;
  }
  .submit-buttons{
    display: flex;
    padding: 10px;
    justify-content:space-between;
  }
 

}

.custom-table {
  font-family: pixeloidsans;
  color: black;
  font-size: 15px;
  background-color: rgba(153, 153, 153, 0.713);
  /* border-radius: 0.5rem; */
  border: white;
  text-align: center;
  width: 100%;
  

}
.right-p {
  display: inline;
}
.left-p {
  display: inline;
}
.team-num {
  display: flex;
  justify-content: space-between !important;
  margin: 5%;
 
}

.custom-prof-bg {
  background-image: url("../assets/newbg3.png");
  color: rgb(0, 0, 0);
  background-size: cover;
}

@media (max-width: 767px) {
  .custom-prof-bg {
    background-image: url("../assets/small-bg.jpeg");
    color: white;
    background-size: cover;
  }
}



.form-container {
  width: 300px;
  /* padding: 10px; */
  background-color: #f0f0f0; 
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.form-group {
  margin-bottom: 5px;
}

.form-buttons {
 
  justify-content: space-between;

}


.table-container {
  margin-top: 0; 
  width: 90%;
  margin: 2%;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
  .svgg{
    height: 100px;
    width: 250px;
  }
  .custom-file-upload{
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .file-upload1{
    padding-left: 100px;

  }
}

.svgg{
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  height: 100px;
  width: 550px;
}
.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.custum-file-upload .icon svg {
  height: 5em;
  fill: #e8e8e8;
  
}

.custum-file-upload .text {
  display: flex;
  justify-content: center;
  
}
.text{
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.custum-file-upload .text span {
  font-weight: 200;
  color: #000000;
  justify-items: center;
}

.custum-file-upload input {
  display: none;
 
}
.add-remove-btn{
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
  }
  
  .add-remove-btn:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
  }
