@font-face {
    font-family: pixeloidsans;
    src: url("../fonts/PixeloidSans.ttf");
  }
  @font-face {
    font-family: karmatic ;
    src: url("../fonts/ka1.ttf");
  }
  @font-face {
    font-family: pixeloidsans-bold;
    src: url("../fonts/PixeloidSansBold.ttf");
  }
  
  .custom-sc-height{
    height: 120vh; 
  }

    @media (max-width: 767px) {
      .custom-sc-height{
        height: fit-content ;
      }
    }

  /* .wrapper{
    display: flex;
    overflow-x: auto;
  } 
  
  @media (max-width:768px){
    .wrapper{
        scale: 0.7;
    }
  } */

/* .chooseImage{
    display: flex;
    overflow-x: auto;
    scale: 0.7;
}

@media (max-width:768px){
    .chooseImage{
        scale: 0.7;
    }
}

.chooseImage::-webkit-scrollbar{
    background-color: transparent; 
}

.chooseImage .brand{
   display: flex;
   flex-direction:column;
   align-items: center;
   cursor: pointer;
   gap:4px;
}

.chooseImage .brand .eventImage{
    overflow: hidden;
}  */

.custom-sc-bg{
  background-image: url("../assets/new-bg2.png");
  color : white;
  background-size: cover; 
}

@media (max-width: 767px) {
.custom-sc-bg{
background-image: url("../assets/small-bg.jpeg");
color : white;
background-size: cover;
}
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}


/* SECTION STYLES */
.section {
 padding-top: 10%;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE STYLES */
.timeline {
  white-space: nowrap;
  overflow-x: auto;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 250px;
  height: 3px;
  background: #f9f7f9de;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50%);
  bottom: 0;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f45b69;
}

.timeline li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline ol li div {
  position: absolute;
  left: calc(50%);
  width: 250px;
  padding: 10px;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: rgba(255, 255, 255, 0.57) transparent transparent transparent;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.57);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}


/* TIMELINE ARROWS */
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* RESPONSIVE STYLES */
@media (max-width: 767px) {
  
  .timeline {
    white-space: nowrap;
    width: 100%; 
  }

  .timeline ol,
  .timeline ol li {
    width: 100%; /* Expand to full width */
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
    margin-bottom: 16px; /* Add spacing between timeline items */
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    position: static;
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

/* FOOTER STYLES */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.673);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

.eventHeading {
  padding-bottom: 1%;
  word-spacing: 5px;
}

@media (max-width: 767px) {
  .eventHeading{
     padding-top: 16%;
  }
}

.event-container{
  padding-top: 6%;
}

.imp-events{
  color: rgba(215, 155, 15, 1)
}





