@font-face {
    font-family: pixeloidsans;
    src: url("../fonts/PixeloidSans.ttf");
  }
  @font-face {
    font-family: karmatic ;
    src: url("../fonts/ka1.ttf");
  }
  @font-face {
    font-family: pixeloidsans-bold;
    src: url("../fonts/PixeloidSans.ttf");
  }

  .sponsorpage{
    overflow-x: hidden;
  }
 
  .sponsor{
    overflow-x: hidden;
  }
  .containerz{
    overflow-x: hidden;
   
  }
  .heading {

    font-family:  karmatic;
    font-size: 2em;
  }
  @media (max-width: 768px){
    
    .heading {
        font-size: 1.5em;
    }
    
    }
    @media (max-width: 768px){
        .containerz{
            flex-direction: column;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            
        } 
        
        
    }
   
  @media (max-width: 768px) {
    .pt-5 {
        padding-top: 0 !important;
      }

  }
  