@font-face {
  font-family: pixeloidsans;
  src: url("../fonts/PixeloidSans.ttf");
}
@font-face {
  font-family: karmatic;
  src: url("../fonts/ka1.ttf");
}
@font-face {
  font-family: pixeloidsans-bold;
  src: url("../fonts/PixeloidSans.ttf");
}

.sponsorpage {
  overflow: hidden;
}

.sponsor {
  overflow: hidden;
}
.containerz {
  overflow: hidden;
}
.heading {
  font-family: karmatic;
  font-size: 2.3em;
  padding-top: 6%;
}

.with-margin {
  transition: transform 0.3s;
}

.with-margin:hover {
  transform: translateY(-25px); /* Move the image 3D behind by 15px on hover */
}
@media (max-width: 768px) {
  .heading {
    font-size: 1.5em;
  }
  .sps {
    scale: 0.6;
    gap: 30px;
    margin-top: -34% !important;
  }
  .with-margin{
    padding-bottom: 8%;
  }
}
@media (max-width: 768px) {
  .containerz {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.sponsor-container{
  margin-top: 10%;
}

@media (max-width: 768px) {
  .sponsor-container {
   margin-top: 20%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .sponsor-container{
    margin-top: 30%;
  }
}

.custom-sp-bg {
  background-image: url("../assets/newbg3.png");
  color: white;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 767px) {
  .custom-sp-bg {
    background-image: url("../assets/smolbg.png");
    color: white;
    background-size: cover;
  }
}
.shadow-custom {
  filter: drop-shadow(3px 3px 5px #010101);
}
