.sponsorpage {
  overflow: hidden;
}

.heading {
  font-family: karmatic;
  font-size: 2.3em;
  padding: 6%;
}

.custom-sp-bg {
  background-image: url("../assets/newbg3.png");
  color: white;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 767px) {
  .custom-sp-bg {
    background-image: url("../assets/small-bg.jpeg");
    color: white;
    background-size: cover;
  }
  .img-fluid {
    scale: 0.8;
  }
  .for-small {}
}

.shadow-custom {
  filter: drop-shadow(3px 3px 5px #010101);
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover Animation */
.sponsor-image {
  transition: transform 0.3s ease;
}

.sponsor-image:hover {
  transform: scale(1.05);
}

.sponsor-item {
  opacity: 0;
  animation: fade-in 1.0s ease forwards;
  animation-delay: 0.2s;
}

.animate {
  animation: fade-in 1.0s ease forwards;
}
