@font-face {
  font-family: karmatic;
  src: url("./fonts/ka1.ttf");
}
.all {
  font-family: karmatic;
  color: #f1f1f1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.kard {
  background: rgba(78, 156, 208, 0.206);
  margin-top: 12%;
  padding: 5%;
  color: #ffffff;
}
@media (max-width: 767px) {
  .kard {
    margin-top: 45%;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .kard {
    margin-top: 25%;
  }
}
.form-control::placeholder {
  color: #0a3c62;
  font-family: pixeloidsansbold;
  text-align: center;
}
.form-control {
  text-align: center;
  border-radius: 5px; /* Adjust border-radius as needed */
  padding: 10px;
  font-size: 16px;
  background: #6bb5edcc;
  font-family: pixeloidsansbold;
}
.form-control:focus {
  background: #6bb5edcc;
  border: 0px;
}
.custom-reg-bg {
  background-image: url("/src/assets/newbg3.png");
  color: white;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 767px) {
  .custom-reg-bg {
    background-image: url("/src/assets/small-bg.jpeg");
    color: white;
    background-size: cover;
  }
}
