@font-face {
    font-family: karmatic ;
    src: url("./fonts/ka1.ttf");
  }
.all{
    font-family: karmatic;
    color: #D7BD7E;
}
   input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
.kard{
    background: rgba(163, 84, 99, 0.3);
    margin-top: 7%;
    padding: 5%;
    color: #A52A2A;
}
.form-control::placeholder{
  color:#e394b2;
  font-family: pixeloidsansbold;
  text-align: center;
}
.form-control {
  text-align: center;
  border-radius: 5px; /* Adjust border-radius as needed */
  padding: 10px;
  font-size: 16px;
  background: #F1E1F1;
  font-family: pixeloidsansbold;
}
.form-control:focus{
  background: #F1E1F1;
  border: 0px;
}