*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  
}

@font-face {
  font-family: pixeloidsansbold;
  src: url("./fonts/PixeloidSans-Bold.ttf");
}

@font-face {
  font-family: pixeloidsans;
  src: url("./fonts/PixeloidSans.ttf");
}
@font-face {
  font-family: karmatic;
  src: url("./fonts/ka1.ttf");
}